.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-content: center;
  justify-content: center;
}

/* .user-msg {
  color: orange;
} */
.profile-pic {
  border-radius: 90rem;
  height: 15rem;
}
.p-name {
  font-style: italic;
}
span {
  font-weight: bold;
  font-style: italic;
}
 
/* .img{
  height: 20rem;
  aspect-ratio: 1/1;
} */


.like-btn{
  justify-content: space-between;
  gap: 10px;

  .like{
    background: white;
    color: blueviolet;
  }

}

.input{
  color: black;
  background: whitesmoke;
  height: 3rem;
  width: 15rem;
}