.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;

}

.profile-pic {
  border-radius: 50%;
  height: 15rem;
  justify-content: center;
  align-content: center;
}
.text{
  color: black;
  justify-items: center;
  align-items: center;
}
span {
  font-weight: bold;
  font-style: italic;
}
 
.action-buttons{
  display: flex;
  justify-content: space-between;
  
  
  .toggle{
    font-size: 1rem;
    font-weight: bold;
  }

}

.like-btn{
  justify-content: space-between;
  display: flex; 
  margin-top: 1rem;
  gap: 2px;

  .like{
    background: white;
    color: blueviolet;
  }
 .dislike{
    background: white;
    color: blueviolet;
  }

}

.input{
  color: black;
  background: whitesmoke;
  height: 3rem;
  width: 15rem;
}
.url{
  display: block;
  height: 3rem;
  width: 100%;
}
.tittle{
  display: block;
  height: 3rem;
  width: 100%;
}
.rating{
  display: block;
  height: 3rem;
  width: 100%;
}
.summary{
  display: block;
  height: 3rem;
  width: 100%;
}
.label{
  gap: 3rem;
}

Nav{
  justify-items: center;
  align-items: center;
  
  ul{
    display: flex;
    gap:2rem;
    align-items: center;
    a{
      justify-items: center;
    }
  }
}